body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(230,230,230);
}

#sidebar {
    width: 20%;
    margin: 50px;
    position: fixed;
}

main {
    margin: 50px;
    margin-left: 25%;
}

#city-form {
    display: flex;
    flex-direction: column;
}

#city {
    border-radius: 1em;
    padding: 5px;
    height: 45px;
    font-size: large;
}

#city:hover {
    border-color: dodgerblue;
}

#search-btn, button {
    background-color: lightslategray;
    border-color: lightslategray;
    border-radius: 1em;
    color: white;
    margin: 1px;
    cursor: pointer;
    border-style: solid;
    padding: 5px;
    height: 50px;
    font-size: large;
}

#search-btn {
    background-color: dodgerblue;
    border-color: dodgerblue;
}

#search-btn:hover {
    background-color: white;
    color: dodgerblue;
}

button:hover {
    background-color: white;
    color: lightslategray;
}

#search-history {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    text-align: center;
}

p {
    font-size: large;
}

#present, .forecast{
    border-radius: 2em;
    border-color:dodgerblue;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    padding: 25px;
}

#present {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.forecast {
    width: 15%;
}

#future {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.current-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1470px) {

    .forecast {
        width: 14%;
        min-width: 150px;
    }

    main {
        margin-left: 25%;
    }

    #sidebar {
        width: 20%;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 870px) {
    .forecast {
        width: 100%;
        margin-bottom: 25px;
    }
    /* #present {
        margin-left: 10px;
    } */

    #sidebar {
        margin: 15px;
    }
}

@media screen and (max-width: 660px) {
    #sidebar {
        width: 90%;
        margin: 20px;
        position: relative;
    }
    
    main {
        width: 90%;
        margin: 20px;
    }

    #present {
        flex-direction: column;
    }
    .current-text {
        display: block;
    }
}